*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/misc.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2023_2_22_20_02__Changes_.xml
/.idea/vcs.xml
